# http://editorconfig.org 用于确保基本的编码风格在不同编辑器间保持一致
root = true

[*] # 对所有文件有效
charset = utf-8 # 设置文件字符集为 utf-8
tab_width = 2 # 一个tab2个宽度
indent_style = space # 缩进风格（tab｜space）
indent_size = 2 # 缩进大小
end_of_line = lf # 控制换行类型（lf｜cr｜crlf）
trim_trailing_whitespace = true # 去除行首的任意空白字符
insert_final_newline = true # 始终在文件末尾插入一个新行

[*.md] # 表示仅对 md 文件适用以下规则
max_line_length = off
trim_trailing_whitespace = false
